body{
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.mainphotos{
    height:auto;
    max-width:150px;
    border-radius: 20px;
    border:solid white 5px;
}
#name{
    background-color: rgb(247, 185, 208);
    margin: 0 10%;
    border-radius:20dvi;
    color: rgb(41, 41, 41)
}
h1{
    color: rgb(247, 185, 208)
}
p{
    color: rgb(229, 229, 229);
    font-family: helvetica;
}
#introduction{
    background-color: rgb(247, 185, 208);
    color: rgb(41, 41, 41);
    padding: 5% 0 5% 0;
    margin-left: 0%;
    margin-right: 0%;
}
.sections{
    display: flex;
    gap: 40px;
}
#email,
#phoneNumber{
    flex: 1;
}
.linkedIn,
.about{
    flex:1;
}
@media (max-width: 600px){
    .sections{
        flex-direction: column;
    }
}
#linkLinkedIn{
    background-color: rgb(26, 87, 172);
    color: white;
    font-weight: bold;
    border: groove rgb(19, 24, 78) 5px;
    border-right:solid white 5px;
}
#linkLinkedIn:hover{
    color:black;
    text-decoration: underline;
}
.offText{
    color:rgb(81, 189, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link{
    background: transparent;
    color:rgb(241, 238, 243);
}
#buttonText{
    background-color: rgb(81, 189, 178);
    color: rgb(242, 242, 243);
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    border: outset rgb(125, 188, 215) 5px;
}
#buttonText:hover{
    text-decoration: underline;
}
.link:hover{
    color: rgb(81, 189, 178);
    text-decoration: underline;
}
