body{
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.mainphotos{
    height:auto;
    max-width:200px;
    border-radius: 20px;
    border:solid white 5px;
}
#name{
    background-color: rgb(247, 185, 208);
    margin: 0 10%;
    border-radius:20dvi;
    color: rgb(41, 41, 41)
}
h1{
    color: rgb(247, 185, 208)
}
p{
    color: rgb(229, 229, 229);
    font-family: helvetica;
}
#introduction{
    background-color: rgb(247, 185, 208);
    width:100%;
    color: rgb(41, 41, 41);
    padding: 5% 0 5% 0;
}
#email,
#phoneNumber{
    flex: 1;
}
@media (max-width: 600px){
    .sections{
        flex-direction: column;
    }
}
#linkLinkedIn{
    background-color: rgb(26, 87, 172);
    color: white;
    font-weight: bold;
    border: groove rgb(19, 24, 78) 5px;
    border-right:solid white 5px;
}
#linkLinkedIn:hover{
    color:black;
    text-decoration: underline;
}
#cv{
    padding: 5% 10% 5% 10%;
    background-color: white;
    color:rgb(59, 12, 12); 
    font-weight:bold;
    font-size:medium;
    border: groove black 5px;
    border-right: solid white 5px;
}
#cv:hover{
text-decoration: underline;
background-color: black;
color: white;
border: groove white 5px;
border-right: solid rgb(146, 145, 145) 5px;
}
.offText{
    color:rgb(81, 189, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link{
    background: transparent;
    color:rgb(241, 238, 243);
}
#buttonText{
    background-color: rgb(81, 189, 178);
    color: rgb(242, 242, 243);
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    border: outset rgb(125, 188, 215) 5px;
}
#buttonText:hover{
    text-decoration: underline;
}
.link:hover{
    color: rgb(81, 189, 178);
    text-decoration: underline;
}
#closeMenu{
    height: 20px;
    width: 30px;
    align-self: flex-end;
    text-align: center;
    background-color: brown;
    color:aliceblue;
}
#closeMenu:hover{
    background-color: rgb(95, 24, 24);
    color: rgb(246, 245, 245);
}
.sidenav{
    display: flex;
}
.sidebar{
    display: none;
    flex-direction: column;
    width: 5%;
    background-color: transparent;
    border:  rgb(247, 185, 208) 2px;
    border-radius: 0 10px 10px 0;
}
.indexContent{
    flex: 1;
}
#menubutton{
    height: auto;
    max-width: 20vh;
    background-color: rgb(247, 185, 208);
    border: ridge rgb(146, 145, 145) 5px;
    border-radius: 0 5px 5px 0;
}
#menubutton:hover{
    border: groove rgb(146, 145, 145) 5px;
}
.sidebartext{
    color:aliceblue;
}
.page{
    flex:1;
}
.aboutmePage{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutmeHeaddings{
    background-color: rgb(247, 185, 208);
    margin-bottom: 20px;
}
.topBottom{
    display: flex;
}
.top,
.bottom{
    flex-direction: column;
}
.belowMenu{
    display: flex;
}
.intro{
    flex-direction: column;
}
.cvL{
    display: flex;
    flex-direction: row;
}
.sections{
    display: flex;
    gap: 40px;
}
.linkedIn,
.about{
    flex: 1;
}

